<nav [ngClass]="open ? 'bg-change' : ''" class="header">
  <div [routerLink]="['/']" class="logo">WeatherNow</div>
  <ul class="list">
    <li [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-item">Home</li>
    <li [routerLink]="['/weather/TOP']" routerLinkActive="active" class="list-item">Weather</li>
  </ul>
  <mat-icon *ngIf="!open" (click)="toggleSidebar()">menu</mat-icon>
  <mat-icon *ngIf="open" (click)="toggleSidebar()">close</mat-icon>
</nav>

<app-sidebar *ngIf="open" (toggleSidebar)="toggleSidebar()" class="sidebar"></app-sidebar>